@charset "UTF-8";


* {
    padding: 0;
    margin: 0;
}

html {
   scroll-behavior: smooth;
}

/*----------- Cabeçalho ----------*/

header {
    background-repeat: no-repeat;
    background-image: url(../imagens/capa1.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 900px;

}


header nav { 
    text-align: right;
    padding: 30px;
    padding-right: 60px;
    font-family: Arial, Helvetica, sans-serif;
}

header nav a {
    text-decoration: none;
    padding: 10px;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.459);
    border-radius: 10px;
}

header nav a:hover {
    color: rgb(39, 39, 39);
    transition: .7s;

}

header h1 {
    text-align: right;
    padding-top: 150px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 90px;
    color: green;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.404);
    padding-right: 150px;
}

header h2 {
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: white;
    margin-top: -10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.363);
    padding-right: 260px;
}

header div#bot1 {
   text-align: right;
   padding-right: 229px;
   padding-top: 10px;
}

header input.botao1 {
   width: 250px;
   padding: 15px;
   background-color: orangered;
   border: none;
   border-radius: 20px;
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 30px;
}

header input.botao1:hover {
   cursor: pointer;
   background-color: rgb(241, 56, 0);
   transition: .3s;
}

 /*----------- Conteudo 1 ---------*/

 section.conteudo1 {
    background-attachment: fixed;
    background-image: url(../imagens/fundo\ natureza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
 }

 section.conteudo1 h1 {
    text-align: center;
    padding: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: green;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.342);
 }

 section.conteudo1 img {
    padding: 50px;
    width: 400px;
    height: 400px;
 }

 section.conteudo1 div.sobre {
    display: flex;
 }

 section.conteudo1 div.sobre h3 {
    padding: 10px;
    margin-left: -60px;
    padding-top: 100px;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.274);

 }

 section.conteudo1 div.sobre p {
    padding-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
 }

 div#bot2 {
   margin-top: -130px;
   margin-left: -165px;
   text-align: center;
 }

 input.botao2 {
   padding: 10px;
   background-color: orangered;
   border-radius: 10px;
   border: none;
   color: white;
 }

 input.botao2:hover {
   background-color: rgb(241, 56, 0);
   transition: .3s;
   cursor: pointer;
 }

 /*------------ conteudo 2 fotos ------------*/


 section.conteudo2 {
    background-image: url(../imagens/capa2.jpg);
    background-attachment: fixed;
    height: 900px;
 }

 section.conteudo2 h1 {
    text-align: center;
    padding: 40px;
    color: green;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.329);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
 }


 section.conteudo2 div.fotos {
    text-align: center;
    padding: 50px;
 }

 section.conteudo2 div.fotos img {
   margin: 10px;
   border: 6px solid green;
    
 }

 section.conteudo2 div.fotos2 {
   text-align: center;
   padding: 10px;
}

section.conteudo2 div.fotos2 img {
   margin: 10px;
   border: 6px solid green;
   
}

 div#bot3 {
   margin-top: -10px;
   text-align: center;
 }

 input.botao3 {
   padding: 10px;
   background-color: orangered;
   border-radius: 10px;
   border: none;
   color: white;
 }

 input.botao3:hover {
   background-color: rgb(241, 56, 0);
   transition: .3s;
   cursor: pointer;
 }

 /*---------- conteudo 3 ----------*/


 section.conteudo3 {
   background-attachment: fixed;
    background-image: url(../imagens/capa5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
 }

 section.conteudo3 h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 40px;
    color: green;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.281);
 } 

 section.conteudo3 iframe {
    display: block;
    margin: auto;
    padding: 30px;
 }

 div#bot4 {
   margin-top: -10px;
   text-align: center;
 }

 input.botao4 {
   padding: 10px;
   background-color: orangered;
   border-radius: 10px;
   border: none;
   color: white;
 }

 input.botao4:hover {
   background-color: rgb(241, 56, 0);
   transition: .3s;
   cursor: pointer;
 }

 div#video1 {
  margin-left: -35px;
  margin-bottom: 30px;
  padding: 20px;
  position: relative;
  padding-bottom: 50px;
}

div#video1 >  iframe {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 340px;
  height: 160px;
}

 /*--------- conteudo 4 eventos --------*/

 section.conteudo4 {
   background-attachment: fixed;
   background-repeat: no-repeat;
   background-size: cover;
   background-image: url(../imagens/capa4.jpg);
    height: 900px;
 }

 section.conteudo4 h1 {
    text-align: center;
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.288);
    padding: 40px;
 }

 div.tabela1 {
   display: block;
 }

 table {
   margin: auto;
   text-align: center;
   width: 600px;
   border-collapse: collapse;
   font-family: Arial, Helvetica, sans-serif;
 }

 thead {
   font-weight: bold;
   background-color: green;
   color: white;
 }

 tbody {
   background-color: rgb(211, 210, 210);
 }

 td {
   border: 1px solid black;
   padding: 8px;
 }

 div#bot5 {
   margin-top: 20px;
   text-align: center;
 }

 input.botao5 {
   padding: 10px;
   background-color: orangered;
   border-radius: 10px;
   border: none;
   color: white;
 }

 input.botao5:hover {
   background-color: rgb(241, 56, 0);
   transition: .3s;
   cursor: pointer;
 }

 /*----------- conteudo 5 contatos ----------*/

 section.conteudo5 {
   background-color: rgb(201, 200, 200);
   height: 900px;
 }

 section.conteudo5 h1 {
   text-align: center;
   padding: 40px;
   color: green;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 30px;
   text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.384);
 }

 div#bot6 {
   margin-top: 20px;
   text-align: center;
   bottom: 0;
 }

 input.botao6 {
   padding: 10px;
   background-color: orangered;
   border-radius: 10px;
   border: none;
   color: white;
 }

 input.botao6:hover {
   background-color: rgb(241, 56, 0);
   transition: .3s;
   cursor: pointer;
 }

 div.ico {
   padding: 20px;
   text-align: center;
 }

div.ico img.icone {
   padding: 10px;
   width: 30px;
   height: 30px;
}

p.pc {
   padding-top: 100px;
   margin: auto;
   width: 400px;
}

form.formulario {
   text-align: center;
}

input#email {
   padding: 5px;
   width: 250px;
   border-radius: 10px;
   border: none;
}

input#nome {
   padding: 5px;
   width: 250px;
   border-radius: 10px;
   border: none;
}

input#botsend {
   margin-top: 20px;
   padding: 20px;
   background-color: orangered;
   border-radius: 10px;
   border: none;
   color: white;
}

input#botsend:hover {
   background-color: rgb(241, 56, 0);
   transition: .3s;
   cursor: pointer;
}

input#botsend, p {
   font-family: Arial, Helvetica, sans-serif;
   padding: 5px;
}

 /*-------- Footer -------*/


 footer {
   text-align: center;
   padding: 20px;
 }

 